@model Public_Portal_Webservice.Models.viewModel.vmPCP

@{
    ViewBag.Title = "UC Complaints Budgeted";
    Layout = "~/Views/Shared/_LayoutAccountPage.cshtml";
}


<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:270px;margin-top:1px" id="mySidebar">
    <br>
    <div class="w3-container w3-row">
        <div class="w3-col s4">
            @{
                String gender = Model.acc.gender;
                gender = gender.ToLower() + ".png";

            }

            <img src="~/Image/ProfileImages/@gender" class="w3-circle w3-margin-right" style="width:46px">
        </div>
        <div class="w3-col s8 w3-bar">
            <span><strong>@Model.acc.Full_name </strong></span><br>
            <span><strong>@Model.acc.UCArea.UCName nazim </strong></span><br>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
        </div>
    </div>
    <hr>
    <div class="w3-bar-block">
        <div class="w3-bar-block">
            <a class="w3-button w3-bar-item w3-padding-large w3-margin-bottom w3-blue" href="@Url.Action("UCPanelOverview", "UCAccount")"><span class="glyphicon glyphicon-chevron-left "></span>Back to main panel</a>

        </div>
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
        <p href="#" class="w3-bar-item  w3-padding w3-large">  Categories</p>

        <a href="@Url.Action("UCManageAreaComplaints", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding">Received (@ViewBag.Recieved)</a>
        <a href="@Url.Action("UCViewReviewed", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding">Reviewed (@ViewBag.Reviewed)</a>
        <a href="@Url.Action("UCViewForwardedComplaints", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding">Forwarded (@ViewBag.Forwarded)</a>
        <a href="@Url.Action("UCViewResolved", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding ">Resolved (@ViewBag.Resolved)</a>
        <a href="@Url.Action("UCViewBudgedted", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding w3-blue ">Budgeted (@ViewBag.Budgeted)</a>
        <a href="@Url.Action("UCViewRejected", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding">Rejected (@ViewBag.Rejected)</a>
        <a href="@Url.Action("UCViewAlreadyResolved", "UCAccount",new { orderby="severe",cat="all"})" class="w3-bar-item w3-button w3-padding">Already Resolved (@ViewBag.AlreadyResolved)</a>
        <a href="@Url.Action("UCBudgetBasket", "UCAccount",new { cat="all"})" class="w3-bar-item w3-button w3-padding">Approved Budget (@ViewBag.BudgetBasket)</a>


    </div>
</nav>


<!-- Overlay effect when opening sidebar on <asp:scriptmanager runat="server" />all screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:270px;margin-top:10px;">

    <div class="w3-container w3-col m12  w3-margin-bottom ">
        <div class="w3-col m12 ">
            <div class=" w3-small">
                <h3> Budgeted complaints @ViewBag.status</h3>
            </div>
            <h5 style="color:red">@TempData["msg"].ToString()</h5>


            <div class="w3-section w3-bottombar w3-padding-16">
                <span class="w3-margin-right">Filter by:</span>
                @if ("all".Equals(ViewBag.cat))
                {
                    <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "severe", cat = "all" })" class="w3-button w3-black">ALL</a>
                }
                else
                { <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "severe", cat = "all" })" class="w3-button w3-white">ALL</a>
                }
                @foreach (var cat in Model.categories)
                {
                    if (cat.Category1.Equals(ViewBag.cat))
                    {
                        <a href="@Url.Action("UCViewBudgedted", "UCAccount", new {orderby="severe", cat = cat.Category1 })" class="w3-button w3-black">@cat.Category1</a>
                    }
                    else
                    {
                        <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby="severe",cat = cat.Category1 })" class="w3-button w3-white">@cat.Category1</a>
                    }
                }
            </div>

            @if (Model.comps.Count() != 0)
            {

                <div class="w3-dropdown-hover ">
                    <button class=" w3-button w3-blue" title="More">
                        Sorted by @ViewBag.status
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="w3-dropdown-content w3-bar-block w3-card-4" style="text-decoration:none;">
                        @if ("severe-first".Equals(ViewBag.status))
                        {
                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "recent", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by recieved-last</a>
                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "received", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by recieved-first</a>

                        }
                        else if ("received-last".Equals(ViewBag.status))
                        {
                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "severe", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by highest severity-first</a>
                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "received", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by recieved-first</a>

                        }
                        else if ("received-first".Equals(ViewBag.status))
                        {

                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "recent", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by recieved-last</a>
                            <a href="@Url.Action("UCViewBudgedted", "UCAccount", new { orderby = "severe", cat = ViewBag.cat })" class="w3-button w3-bar-item" style="text-decoration:none;">Sort by highest severity-first</a>

                        }
                    </div>
                </div>


            }
            else
            {

                <div class="w3-left w3-large ">No Complaints To Show</div>

            }
        </div>
        <div class=" w3-col m12 " style="margin-top:20px;">



            <div class="w3-container w3-mobile">

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white w3-mobile">

                    <tr>
                        <th>title</th>
                        <th>category</th>
                        <th>complainant photo</th>
                        <th>field off. photo</th>
                        <th>Date forwarded</th>
                        <th>Accept</th>
                        <th>Reject</th>

                    </tr>
                    @foreach (var comppp in Model.comps)
                    {

                        <tr>
                            <td style="max-width:280px">
                                <a href="@Url.Action("SingleComplaint", "Complaint", new { Complaint_ID = comppp.complaint_Id,url=HttpContext.Current.Request.Url })">@Html.DisplayFor(Model => comppp.c_title)</a>
                            </td>
                            <td>
                                @Html.DisplayFor(Model => comppp.Category.Category1)
                            </td>

                            <td>
                                <a href="@Url.Action("SingleComplaint", "Complaint", new { Complaint_ID = comppp.complaint_Id,url=HttpContext.Current.Request.Url })"> <img  class="updatedImage" src="@Url.Content(comppp.image1)" style="height:120px;width:190px" /></a>
                            </td>
                            <td>
                                @{ var det_comp = comppp.Complaint_Det_Remarks.FirstOrDefault();}
                                <img class="updatedImage" src="@Url.Content(det_comp.updated_Image1)" style="height:120px;width:200px" />
                            </td>
                            <td>
                                @comppp.date_last_modified.ToShortDateString()
                            </td>
                            <td>
                                <input id="AcceptedOne" type="radio" name="@comppp.complaint_Id" value="A" />
                            </td>
                            <td>
                                <input id="RejectedOne" type="radio" name="@comppp.complaint_Id" value="R" />

                            </td>
                        </tr>
                        <tr><td colspan="7"><strong>FO Remarks: </strong>@Html.DisplayFor(Model => det_comp.Remarks_Field_Off)</td></tr>

                        <tr>
                            <td colspan="7">
                                @{ var div_id = comppp.complaint_Id.ToString() + "div";}
                                <div id=@div_id></div>
                            </td>
                        </tr>

                    }
                </table><br>
                @if (Model.comps.Count() != 0)
                {
                    <input type="button" id="btnGetValue" value="Submit" class="w3-button w3-block w3-blue w3-right" />
                }

            </div>
            <hr>
        </div>


    </div>
</div>

<script type="text/javascript">

$(document).ready(function () {

        $("input[id='RejectedOne']").click(function () {
            //var vll = this.name
            var idBox = this.name;
            var vll = this.name;
            var vll = vll.concat("div");
            console.log(vll);
            $('#' + idBox + 'div').replaceWith('<div id=' + vll + '><input type="text" placeholder="remarks" id=' + idBox + ' style="max-width:390px"/><br/></div>');

    });
    $("input[id='AcceptedOne']").click(function () {
        var exp = "exp";
        var idBox = this.name;
        var vll = this.name;
        var vll = vll.concat("div");
        var exp_id = idBox.concat("exp");
        var ratDropdown = idBox.concat("ratng");
        $('#' + idBox + 'div').replaceWith('<div id=' + vll + '><input type="text" placeholder="remarks" id=' + idBox + ' style="max-width:390px"/> <input type="text" id=' + exp_id + ' placeholder="Expected amount" style="max-width:190px">  <label>  Select severity level</label><select style="width:150px" id=' + ratDropdown+'><option value=1>1-highest</option><option value=2>2-high</option><option value=3>3-normal</option><option value=4>4-low</option><option value=5>5-lowest</option></select></div>');

    });


   $('#btnGetValue').click(function () {
       var idd;
       var selectedVal;
       var RadioArray = [];
       var i = 0;
       var Remarks;
       var expectedAmount;
       var selectedSeverity;
       @foreach (var coms in Model.comps) {
        <text>
          idd=@coms.complaint_Id;
       selectedVal = $('input[name=@coms.complaint_Id]:checked').val();
      

       if (selectedVal == 'R') {
           Remarks = $('#' + idd).val();
           RadioArray.push({
               complaint_Id: idd,
               SelectedRadio: selectedVal,
               Remarks: Remarks,
               expectedAmount: "null",
               rating: null
           });

       } else {
           
           expectedAmount = $('#' + idd + "exp").val();
           Remarks = $('#' + idd).val();
           selectedSeverity = $('#' + idd +"ratng").val();

           RadioArray.push({
               complaint_Id: idd,
               SelectedRadio: selectedVal,
               Remarks: Remarks,
               expectedAmount: expectedAmount,
               rating: selectedSeverity

           });
       }
                    i++;
                </text>
            }


          RadioArray = JSON.stringify({ 'RadioArray': RadioArray });


       console.log(RadioArray);
       //alert(RadioArray)
          $.ajax({
              contentType: 'application/json; charset=utf-8',
              dataType: 'json',
              type: 'POST',
              url: '@Url.Action("UCViewBudgedtedAction")',
              data: RadioArray ,
              success: function (data) {
                          location.reload(); // then reload the page.(3)

              },
              error: function (XMLHttpRequest, textStatus, errorThrown) {
                  //$('#msg').html('Complaints forwarded');
                  //setTimeout(function () {// wait for 5 secs(2)
                  location.reload();
                  //}, 5000);

              }
          });

        });
    });

    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }


</script>


