
@model Public_Portal_Webservice.Models.viewModel.vmPCP
@{
    ViewBag.Title = "forgot password";
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";

}
<h4 style="color:red;" class="col-sm-4 col-sm-offset-4">
    @*@TempData["Status"].ToString()*@
</h4>

<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div>Password<span>Reset</span></div>
</div>
<br>
<div class="login">

    @*<h3 style="color:white">Password reset</h3>*@
    @using (Html.BeginForm("AccountPasswordReset", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <h5 style="color:white">Enter new Password!</h5>
        @Html.EditorFor(Model => Model.accountReg.password, new { htmlAttributes = new { style = "max-width: 100%;", @class = "form-control", placeholder = "password" } })
        @Html.ValidationMessageFor(model => model.accountReg.password, "", new { @class = "text-danger" })

        @Html.EditorFor(Model => Model.accountReg.confirmPassword, new { htmlAttributes = new { style = "max-width: 100%;", @class = "form-control", placeholder = "confirm password" } })
        @Html.ValidationMessageFor(model => model.accountReg.confirmPassword, "", new { @class = "text-danger" })
        @Html.ValidationMessage("Passwordnotsame", new { @class = "text-danger" })
        @Html.HiddenFor(Model=>Model.acc.email_address)

        <br>
        <input type="submit" value="Submit" class="btn btn-default btn-block btn-success"><br />
        <h3>
            <a href="@Url.Action("Login", "Account")" style="color:dodgerblue">Back to login page</a>
        </h3>

    }
</div>
